@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --color-grey: #eee;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* UTILITY */
.p-small {
    padding-bottom: 5px;
}
.p-medium {
    padding-bottom: 10px;
}
.p-y {
    padding: 10px 0;
}
.m-y {
    margin: 10px 0;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    background-color: var(--black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.online {
    background-color: var(--light-blue);
}

section img {
    width: 25%;
    border-radius: 10rem;
    
}

section h1 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
}

section p {
    color: #fff;
    font-size: 2rem;
}

