@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right bottom,
    #ea2c62, #52057b) no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #52057b;
    padding: 20px;
    border-radius: 5px;
    width: 370px;
}

h1 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #fff;
    border-bottom: 1px solid #eee;
}

.form-control label {
    cursor: pointer;
}

.p-header {
    position: relative;
}

.p-header input {
    width: 100%;
    height: 100%;
    background-color: #ea2c62;
    padding: 14px;
    border-radius: 3px;
    color: #fff;
    outline: none;
    border: none;
    font-size: 16px;
}

.p-header button,
.form-control input[type=number] {
    padding: 3px 5px;
    background-color: #eee;
    outline: none;
    border: none;
    border-radius: 3px 0 0 0;
}

.p-header button {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

#submit {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background-color:  #3282b8;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}

#submit:hover {
    background-color:  #ea2c62;
}

#submit:active {
    background-color:  #3282b8;
}